.unblock {
    background-image: url('/unblock.png');
}

.delete {
    background-image: url('/delete.png');
}

.btn-picture {
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}